project/Sao/Zed/Fulfillment/Component/File/shipmentstatus.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://www.saatchionline.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="shipmentstatus"
                  targetNamespace="http://www.saatchionline.com/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.saatchionline.com/">
            <xsd:element name="ShipmentStatus" type="tns:ShipmentStatusComplexType">
            </xsd:element>
            <xsd:element name="ShipmentStatusResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="status" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="ShipmentStatusComplexType">
                <xsd:sequence>
                    <xsd:element name="Vendor" type="tns:VendorComplexType"/>
                    <xsd:element name="Shipment" type="tns:ShipmentComplexType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="VendorComplexType">
                <xsd:sequence>
                    <xsd:element name="VendorNumber"
                                 type="xsd:string">
                    </xsd:element>
                    <xsd:element name="Password" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ShipmentComplexType">
                <xsd:sequence>
                    <xsd:element name="ReferenceNumber"
                                 type="xsd:string">
                    </xsd:element>
                    <xsd:element name="TrackingNumber"
                                 type="xsd:string">
                    </xsd:element>
                    <xsd:element name="Statuses" type="tns:StatusesComplexType">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="StatusesComplexType">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded"
                                 name="Status" type="tns:StatusComplexType">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="StatusComplexType">
                <xsd:sequence>
                    <xsd:element name="Code" type="xsd:string"></xsd:element>
                    <xsd:element name="Description" type="xsd:string"></xsd:element>
                    <xsd:element name="Date" type="xsd:string"></xsd:element>
                    <xsd:element name="Signature" type="xsd:string"></xsd:element>
                    <xsd:element name="Time1" type="xsd:string"></xsd:element>
                    <xsd:element name="Time2" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ShipmentStatusRequest">
        <wsdl:part element="tns:ShipmentStatus" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="ShipmentStatusResponse">
        <wsdl:part element="tns:ShipmentStatusResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="shipmentstatus">
        <wsdl:operation name="ShipmentStatus">
            <wsdl:input message="tns:ShipmentStatusRequest"/>
            <wsdl:output message="tns:ShipmentStatusResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="shipmentstatusSOAP" type="tns:shipmentstatus">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ShipmentStatus">
            <soap:operation
                    soapAction="http://www.saatchionline.com/shipmentstatus/ShipmentStatus"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="shipmentstatus">
        <wsdl:port binding="tns:shipmentstatusSOAP" name="shipmentstatusSOAP">
            <soap:address location="http://www.saatchionline.com/fulfillment/tracking/sba"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
